@import "theme.css";
@import "./Sections/about-me.css";
@import "./Sections/skills.css";
@import "./Sections/projects.css";
@import "./Sections/footer.css";
@import "./Sections/header.css";

* {
  box-sizing: border-box;
}
:root {
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
  /* color: inherit; */
}
.container {
  margin: 0 auto;
  max-width: 1536px;
  padding: 0 2rem;
}
.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.section__title {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: bold;
  color: var(--p950);
  text-transform: capitalize;
}
.section__description {
  text-align: center;
  max-width: 65ch; /* 65 ký tự trên một dòng để dễ đọc */
  color: var(--n-500);
}
